# Caddyfile

# Define the site for your REST API
api-dev.battlestadium.gg:80 {

    # Handle WebSocket connections
    reverse_proxy /cable/* http://backend-dev:28080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    reverse_proxy /api/* http://backend-dev:10000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up Authorization {>Authorization}
        header_up X-Vercel-OIDC-Token {>X-Vercel-OIDC-Token}
        header_up X-Forwarded-Proto {scheme}
    }
}

api.battlestadium.gg:80 {
    reverse_proxy /api/* http://backend-prod:10001 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    # Handle WebSocket connections
    reverse_proxy /cable/* http://backend-prod:28081 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}
