{{#models}}
{{#model}}
/**
 * {{{description}}}
 * @export
 * @interface {{classname}}
 */
export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
    /**
     * {{{description}}}
     * @type {{#isDateTime}}{Date}{{/isDateTime}}{{^isDateTime}}{{#isDate}}{Date}{{/isDate}}{{^isDate}}{{{dataType}}}{{/isDate}}{{/isDateTime}}
     * @memberof {{classname}}
     */
    {{name}}{{^required}}?{{/required}}: {{#isDateTime}}Date{{/isDateTime}}{{^isDateTime}}{{#isDate}}Date{{/isDate}}{{^isDate}}{{{dataType}}}{{/isDate}}{{/isDateTime}};
{{/vars}}
}
{{/model}}
{{/models}}
